In [54]:
import os
import sys
import math
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [55]:
RANDOM_STATE = 42
np.random.seed(RANDOM_STATE)

In [56]:
## Folder Locations
TEST_IMAGE_FOLDER = '../data/raw/Test/testset/'
TEST_CSV = '../data/raw/Test/testset.csv'

TRAIN_IMAGE_FOLDER = '../data/raw/Train/testset/'
TRAIN_CSV = '../data/raw/Train/new_train_set.csv'


VALID_IMAGE_FOLDER = '../data/raw/Train/testset/'
VALID_CSV = '../data/raw/Valid/new_valid_set.csv'

In [57]:
train_set = pd.read_csv(TRAIN_CSV)

In [58]:
validation_set = pd.read_csv(VALID_CSV)

In [59]:
validation_set['file'] = validation_set['image_name'].apply(lambda x: x.split('/')[-1])

In [60]:
train_set['file'] = train_set['image_name'].apply(lambda x: x.split('/')[-1])

In [61]:
validation_set.head()

                    image_name  image_label         file
0  ./Train/testset/507055.jpeg           37  507055.jpeg
1  ./Train/testset/199148.jpeg            1  199148.jpeg
2  ./Train/testset/545086.jpeg           13  545086.jpeg
3  ./Train/testset/525293.jpeg           22  525293.jpeg
4  ./Train/testset/558507.jpeg            0  558507.jpeg

In [62]:
train_set.head()

                    image_name  image_label         file
0  ./Train/testset/309293.jpeg           41  309293.jpeg
1  ./Train/testset/697706.jpeg           47  697706.jpeg
2  ./Train/testset/483222.jpeg           17  483222.jpeg
3  ./Train/testset/220910.jpeg           24  220910.jpeg
4  ./Train/testset/724901.jpeg           15  724901.jpeg

In [63]:
train_set['location'] = train_set['file'].apply(lambda x: TRAIN_IMAGE_FOLDER + str(x))
validation_set['location'] = validation_set['file'].apply(lambda x: VALID_IMAGE_FOLDER + str(x))

In [64]:
train_set = train_set[['location', 'image_label']]
train_set.head()

                                location  image_label
0  ../data/raw/Train/testset/309293.jpeg           41
1  ../data/raw/Train/testset/697706.jpeg           47
2  ../data/raw/Train/testset/483222.jpeg           17
3  ../data/raw/Train/testset/220910.jpeg           24
4  ../data/raw/Train/testset/724901.jpeg           15

In [65]:
validation_set = validation_set[['location', 'image_label']]
validation_set.head()

                                location  image_label
0  ../data/raw/Train/testset/507055.jpeg           37
1  ../data/raw/Train/testset/199148.jpeg            1
2  ../data/raw/Train/testset/545086.jpeg           13
3  ../data/raw/Train/testset/525293.jpeg           22
4  ../data/raw/Train/testset/558507.jpeg            0

In [66]:
test_set = pd.read_csv(TEST_CSV)

test_set['location'] = test_set['Data'].apply(lambda x: TEST_IMAGE_FOLDER + str(x))
test_set.head()

          Data  Label                              location
0  632755.jpeg     10  ../data/raw/Test/testset/632755.jpeg
1  496855.jpeg     10  ../data/raw/Test/testset/496855.jpeg
2  155390.jpeg     10  ../data/raw/Test/testset/155390.jpeg
3  265013.jpeg     10  ../data/raw/Test/testset/265013.jpeg
4  496360.jpeg     10  ../data/raw/Test/testset/496360.jpeg

In [67]:
test_set = test_set[['location', 'Label']]

In [68]:
test_set.head()

                               location  Label
0  ../data/raw/Test/testset/632755.jpeg     10
1  ../data/raw/Test/testset/496855.jpeg     10
2  ../data/raw/Test/testset/155390.jpeg     10
3  ../data/raw/Test/testset/265013.jpeg     10
4  ../data/raw/Test/testset/496360.jpeg     10

# Fine Tuning InceptionNet

In [12]:
import keras_preprocessing